body {
    background-color: lightblue;
}

h1 {
    background-color: yellow;
}

p {
    background-color: red;
}

div{
    background-color: green;
}

.opacidade-1{
    opacity: 0.1;
}

.opacidade-2{
    opacity: 0.3;
}

.opacidade-3{
    opacity: 0.9;
}

.opacidade-rbga{
    background: rgba(0, 128, 0, 0.3)
}